# Object files
*.o
*.ko
*.obj
*.elf

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
/Consola/Debug
/Proceso_Consola/Debug
/Cpu/Debug
/Proceso_Cpu/Debug
/FileSystem/Debug
/Proceso_FileSystem/Debug
/Kernel/Debug
/Proceso_Kernel/Debug
/Memoria/Debug
/Proceso_Memoria/Debug

#Eclipse
.metadata
RemoteSystemsTempFiles
Contact GitHub
